/* main section style*/


body{
    margin: 0;
}
main {
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%;
    padding-bottom: 15%;
    font-family: sans-serif;
    position:absolute;
    overflow-y:auto;

}

@media only screen and (max-height: 450px) {
    .ul{
        padding-top: 15px;
        height: 93.5%;
    }
    .li a {
        font-size: 18px;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top:30px;
    width: 150%;
    margin-left: 700px;
}

li {
    float:left;
    margin-left: 30px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;

}

li a:hover:not(.active) {
    background-color: #111;
}

.imgFormat{
    width:63%;
    margin: 0 auto;
    padding:1em;
}

.floatright{
    width:65%;
    margin: 0 auto;
    text-align: justify;
}

h1{
    margin: 0 auto;
    font-size: 240%;
    text-align: center;
    padding-bottom: 10px;
}
.event_link{
    margin: 0 auto;
    font-size: 200%;
    text-align: center;
    padding-bottom: 5px;
    background-color: cornsilk;
    color: orange;
    font-family: cursive;
}
p{
    font-size: 20px;
    font-family:"Segoe UI Black";
}
.slicknav_menu {
    display: none;
}

#nav_menu{
    display: none;
}
/* main section style///////////////////////////////////////
  */
/* Header Styles Start */
.header_wrapper{
    width: 100%;
    height: 12%;
    position: fixed;
    top: 0;
    background-color: #ffb211;
    z-index: 10;

}


.ofo_txt{
    position: absolute;
    margin: 38px 0 0 7%;
    font-size: 36px;
    font-family: emoji;
    color: maroon;
}

.search_holder{
    height: 40px;
    width: 40%;
    position: relative;
    background-color: white;
    margin: 37px 0 0 40%;
    border-radius: 10px;
    box-shadow: rgb(0,0,0,0.29) 2px 4px 5px;

}

.search_holder img{
    width: 30px;
    position: absolute;

}

.search_holder input{
    outline: none;
    border: none;
    width: 30%;
    height: 33px;
    position: absolute;
    left: 48px;
    top: 2px;

}

/* Header Styles End ///////////////////////////////////////*/

.header_img_holder{
    justify-self: flex-end;
}
/* Display for Portrait Phones and tablets///////////////////////////////////////*/
@media only screen and (max-width: 767px) {

    .search_holder input{

        top: 5px;
        left: 40px;
    }

    .search_holder{
        width: 100%;
        margin: 120px 0 0 0%;
    }


    .imgFormat{

        width:90%;
        margin: 0 auto;
        padding:1em;
    }

    .floatright{
        width:92%;
        margin: 0 auto;
        /* border: 2px solid black;*/
        text-align: justify;
    }

    .slicknav_menu {
        display: block;
        margin-top: 156px;
        position:relative;

    }

    main{
        display:inline-flex;
        flex-direction: column;
        margin:auto;
        margin-left:10%;
        position: relative;
        justify-content: center;
        width:80%;
    }

    aside{

        display:none;
    }

    h1{
        font-size:200%;
    }

}
/* End Display for mobile and Tablets ///////////////////////////////////////*/
/* Footer Styles Start */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6.1%;
    background-image: linear-gradient(to right, #ff9800c7 70%, yellow);
    z-index: 10;
}

.copyright_text{
    position: absolute;
    color: maroon;
    opacity: 0.8;
    font-size: 20px;
    top: 10px;
    left: 55px;
    font-family: emoji;
    font-weight: bold;
}

.social_site_icons{
    width: 100px;
    position: absolute;
    right: 0;
    top: 10px;
}

.social_site_icons img{
    width: 20px
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
/* Footer Styles End */
