aside {
  position: fixed;
  width: 20%;
  height: calc(100% - 165px);
  margin-top: 125px;
  background-image: linear-gradient(270deg, #ffe12bad, #ffc676);
  overflow-y: auto;
  margin-bottom: 100px;
}

aside ul {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
}

aside ul li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

aside ul li {
  margin-bottom: 4px;
  padding-left: 15px;
  height: 40px;
  display: flex;
  align-items: center;
}

aside ul li:hover {
  background-color: #ffa51e5e;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5vw;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: yellow;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc676;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffc676;
}
