
body {
  font-family: "Lato", sans-serif;
}
img {height: auto; width: auto\9; width:100%;}
ul li{
  list-style:none;
}
.center{
  color: yellow;
  margin-top: 20px !important ;
}

.orderfood:hover,
.discount:hover,
.tour:hover,
.track:hover,
.career:hover {
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.container {
  padding: 2px 16px;
}
.orderfood {
  position: relative;
  border: 1px solid grey;
  border-radius: 5px;
  top: 1em;
}
.foodimage {
  border-radius: 5px;
}
.ordertext {
  width: 100%;
  align-self: center;
  padding-left: 27px;
  text-align: center;
}
.discount {
  height:250px;
  position: relative;
  top: 1.25em;
  border: 1px solid grey;
  border-radius: 5px;
}
.discount-image {
  max-height:69%;
  overflow:hidden;
  object-fit:cover;
}
.discounttext {
  width: 100%;
  text-align: center;
  align-self: center;
  verticle-align: middle;
}
.tour {
  display: flex;
  position: relative;
  top: 1.5em;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #f1f5f7;
}
.tour-text {
  width: 100%;
  align-self: center;
  text-align: center;
}
.track {
  display: flex;
  position: relative;
  top: 1.75em;
  border: 1px solid grey;
  border-radius: 5px;
}
.trackordertext {
  width: 100%;
  align-self: center;
  text-align: center;
  verticle-align: middle;
}
.trackImage {
  border-radius: 5px;
}
.career {
  height:290px;
  position: relative;
  top: 2em;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #f1f5f7;
}
.careertext {
  width: 100%;
  align-self: center;
  text-align: center;
  verticle-align: middle;
}
.careerImage {
  max-height:80%;
  overflow:hidden;
  object-fit:cover;
}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 73%;
  margin-left: 13.5%;
  background-image: linear-gradient(to right, #ff9800c7 70%, yellow);
  z-index: 10;
}
.footertext{
  width: 100%;
  color:black;
  align-self: center;
  padding-left: 27px;
  text-align: center;
}

